In [ ]:
import pandas as pd

In [ ]:
from random import sample

In [ ]:
import datetime as dt

In [ ]:
df = pd.DataFrame(
    {
        'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'age': [25, 30, 22, 42, 45],
        'city': ['NY', 'LA', 'SF', 'NY', 'LA'],
    }
)
df

### iterating through columns

In [ ]:
for col_name in df.columns:
    print(col_name)

### iterating through rows/

In [ ]:
for _index, _row in df.iterrows():
    print(f"{_index+1}. name: {_row['name']}, age: {_row['age']}")

### grouping & aggregating

In [ ]:
df.groupby('city', as_index=False)['age'].agg('mean')

### moving averages

In [ ]:
sample(range(100, 120), 12)

In [ ]:
df = pd.DataFrame(
    data= {'price':sample(range(100, 120), 12), 
          },
    index= pd.date_range(start='2020-01-01', periods=12, freq='MS')
)
df.sample(5)

In [ ]:
df['3MonthRollingAverage'] = df['price'].rolling(window=3).mean()#.astype('int')
df['6MonthRollingAverage'] = df['price'].rolling(window=6).mean()#.astype('int')

In [ ]:
df